*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    text-decoration: none !important;
    box-sizing: border-box !important;
    list-style-type: none !important;
}

.line_h_28 {
    line-height: 28px;
}

.d_grid {
    display: grid;
    gap: 0px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.s_row_1 {
    grid-row: 1/1;
    grid-column: 1/1;
}

.s_row_2 {
    grid-row: 1/2;
    grid-column: 2/3;
}

.s_row_3 {
    grid-row: 1/2;
    grid-column: 3/4;
}

.s_row_4 {
    grid-row: 1/2;
    grid-column: 4/5;
}

.s_row_5 {
    grid-row: 1/2;
    grid-column: 5/6;
}

.right0 {
    right: 0;
}

.mt_115 {
    margin-top: -115px;

}

/* .hr_1 {
    max-width: 303.63px;
    height: 0px;
    background: #F2F2F2;
    border: 1px solid #F2F2F2;
}

.hr_2 {
    max-width: 784.3px;
    height: 0px;
    background: #F2F2F2;
    border: 1px solid #F2F2F2;
} */
.brr_0{
    border-radius: 0;
}
.max_w_230{
    max-width: 230px;
}
.border_none{
    border: none;
}
.outline_none{
    outline: none;
}
.border_b{
    border-bottom: 2px solid #f2f2f2;
}
.style_sub {
    border: 2px solid #FFFFFF;
    border-radius: 8px;
    padding: 4px 25px;
}
.opacity_5{
    opacity: 0.5;
}
/* media */
@media (min-width:1400px) {
    .container_xxl {
        max-width: 1920px !important;
        padding-left: 12px !important;
        padding-right: 12px !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }
}

@media (min-width:1200px) {
    .min_w_785 {
        width: 785px;
    }
    .min_w_659{
        width: 659px;
    }
}

@media (max-widht:576px) {}