/* ...................font_family............................. */
@font-face {
    font-family: 'American Captain';
    src: url(../font/American\ Captain.otf);
    src: url(../font/American\ Captain.ttf);
}

.ff_amrica {
    font-family: 'American Captain';
}

@font-face {
    font-family: 'SF Pro Display';
    src: url(../font/SFPRODISPLAYBOLD.OTF);
    src: url(../font/SFPRODISPLAYMEDIUM.OTF);
    src: url(../font/SFPRODISPLAYREGULAR.OTF);
}

.ff_sf_pro {
    font-family: 'SF Pro Display';
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica';
    src: url(../font/Helvetica-Bold.ttf);
    src: url(../font/Helvetica-BoldOblique.ttf);
    src: url(../font/helvetica-compressed-5871d14b6903a.otf);
    src: url(../font/helvetica-light-587ebe5a59211.ttf);
    src: url(../font/Helvetica-Oblique.ttf);
    src: url(../font/helvetica-rounded-bold-5871d05ead8de.otf);
    src: url(../font/Helvetica.ttf);

}

.ff_Helvetica {
    font-family: 'Helvetica';
}


/* root */
:root {
    /* font_size */
    --fs-246: 246px;
    --fs-200: 200px;
    --fs-130: 130px;
    --fs-120: 120px;
    --fs-110: 110px;
    --fs-100: 100px;
    --fs-56: 56px;
    --fs-35: 35px;
    --fs-32: 32px;
    --fs-30: 30px;
    --fs-24: 24px;
    --fs-20: 20px;
    --fs-17: 17px;
    --fs-15: 15px;



    /* color */
    --color-white: #FFFFFF;
    --color-black: #161616;
    --color-lightblack: #373737;
    --color-grey: #BDBDBD;
    --color-blue: #0058DD;
    --color-lightwhite: #F2F2F2;

}

/* color */

.white {
    color: var(--color-white) !important;
}

.black {
    color: var(--color-black);
}

.lightblack {
    color: var(--color-lightblack);
}

.grey {
    color: var(--color-grey);
}


.lightwhite {
    color: var(--color-lightwhite);
}



/* bg */

.bg_blue {
    background: var(--color-blue);
}

.bg_black {
    background: var(--color-black);
}

/* font_size */
.fs_246 {
    font-size: var(--fs-246);
}

.fs_200 {
    font-size: var(--fs-200);
}

.fs_130 {
    font-size: var(--fs-130);
}

.fs_120 {
    font-size: var(--fs-120);
}

.fs_110 {
    font-size: var(--fs-110);
}

.fs_100 {
    font-size: var(--fs-100);
}

.fs_56 {
    font-size: var(--fs-56);
}

.fs_35 {
    font-size: var(--fs-35);
}

.fs_32 {
    font-size: var(--fs-32);
}

.fs_30 {
    font-size: var(--fs-30);
}

.fs_24 {
    font-size: var(--fs-24);
}

.fs_20 {
    font-size: var(--fs-20);
}

.fs_17 {
    font-size: var(--fs-17);
}

.fs_15 {
    font-size: var(--fs-15);
}


/* font-weight */
.fw_700 {
    font-weight: 700;
}

.fw_600 {
    font-weight: 600;
}

.fw_500 {
    font-weight: 500;
}

.fw_400 {
    font-weight: 400;
}

@media (max-width:1400px) {
    :root {
        /* font_size */
        --fs-246: 240px;
        --fs-200: 190px;
        --fs-130: 90px;
        --fs-120: 118px;
        --fs-110: 90px;
        --fs-100: 90px;
        --fs-56: 52px;
        --fs-35: 33px;
        --fs-32: 28px;
        --fs-30: 28px;
        --fs-24: 22px;
        --fs-20: 19px;
        --fs-17: 16px;
        --fs-15: 15px;
    }
}

@media (max-width:1200px) {
    :root {
        /* font_size */
        --fs-246: 235px;
        --fs-200: 180px;
        --fs-130: 80px;
        --fs-120: 110px;
        --fs-110: 60px;
        --fs-100: 80px;
        --fs-56: 48px;
        --fs-35: 31px;
        --fs-32: 20px;
        --fs-30: 26px;
        --fs-24: 20px;
        --fs-20: 18px;
        --fs-17: 15px;
        --fs-15: 15px;
    }
}

@media (max-width:992px) {
    :root {
        /* font_size */
        --fs-246: 230px;
        --fs-200: 170px;
        --fs-130: 78px;
        --fs-120: 100px;
        --fs-110: 40px;
        --fs-100: 70px;
        --fs-56: 45px;
        --fs-35: 28px;
        --fs-32: 18px;
        --fs-30: 22px;
        --fs-24: 18px;
        --fs-20: 17px;
        --fs-17: 14px;
        --fs-15: 15px;
    }
}

@media (max-width:768px) {
    :root {
        /* font_size */
        --fs-246: 220px;
        --fs-200: 150px;
        --fs-130: 60px;
        --fs-120: 90px;
        --fs-110: 40px;
        --fs-100: 60px;
        --fs-56: 40px;
        --fs-35: 26px;
        --fs-32: 16px;
        --fs-30: 20px;
        --fs-24: 16px;
        --fs-20: 16px;
        --fs-17: 13px;
        --fs-15: 14px;
    }
}

@media (max-width:576px) {
    :root {
        /* font_size */
        --fs-246: 200px;
        --fs-200: 140px;
        --fs-130: 34px;
        --fs-120: 60px;
        --fs-110: 35px;
        --fs-100: 50px;
        --fs-56: 35px;
        --fs-35: 22px;
        --fs-32: 14px;
        --fs-30: 18px;
        --fs-24: 14px;
        --fs-20: 15px;
        --fs-17: 12px;
        --fs-15: 12px;
    }
}