*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    list-style-type: none !important;
    text-decoration: none !important;
    box-sizing: border-box;
}

.overflowhiden {
    overflow: hidden;
}

.bg_image {
    background-image: url(/assets/image/svg/Background.png);
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
    border-radius: 0px;
}

.nav_btn {
    border: 2px solid #FFFFFF;
    border-radius: 8px;
    padding: 8px 32px;
}
.nav_btn:hover {
 background: blue;

}

.nav_3_line {
    background-color: #F2F2F2;
    padding: 3px 18px;
    margin-top: 3px;
    border-radius: 10px;
    z-index: 3;

}


.scale:hover {
    transform: translateY(-10%);
}

.text_line_efect::after {
    content: '';
    position: absolute;
    background: var(--color-white);
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    transition: all 0.5s linear;
}

.text_line_efect:hover:after {
    width: 100%;


}

.line_height_2 {
    line-height: 1;
}

.max_width_811_ {
    width: 811px;
}

.bg_black {
    background: #1A191A;

}

.z_index_1 {
    z-index: 1;
}

.bg_black_1 {
    background: #161616;
}

.bg_green {
    background: rgba(0, 221, 168, 0.5);
}

.bg_red {
    background: rgba(207, 41, 41, 0.6);
}

.bg_blue {
    background: rgba(0, 88, 221, 0.6);
}


.box {
    height: 100%;
    border-radius: 16px;
    padding: 45px;

}
.box:hover {
  transform: scale(1.1);
  transition: all 0.1s linear;

}

.play_btn {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.3);
    border-radius: 100px;
}

.img_green_box {
    top: 10px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.lines {
    right: -62px;
    bottom: 0;
}

.blue_star {
    right: -3px;
    bottom: -40px;

}

.overflow {
    overflow-y: hidden;
}

.green_star {
    left: 12px;
    top: 90px;

}

.map {
    height: 377px;
    width: 1920px;
    border-radius: 0px;
}

.max_width_311_lg {
    max-width: 311px;
}

.line_h_28 {
    line-height: 28px;
}


.right0 {
    right: 0;
}

.mt_115 {
    margin-top: -115px;

}

.brr_0 {
    border-radius: 0;
}

.h_200 {
    height: 200px;
}

.max_w_230 {
    max-width: 230px;
}

.border_none {
    border: none;
}

.outline_none {
    outline: none;
}

.border_b {
    border-bottom: 1px solid #F2F2F2;
}

.style_sub {
    border: 2px solid #FFFFFF;
    border-radius: 8px;
    padding: 4px 25px;
}
.style_sub:hover {
    background: green;
}

.opacity_5 {
    opacity: 0.5;
}

.max_w_626 {
    max-width: 580px;
}

.slider_box {
    background-color: #010202;
    width: 100%;
    height: 100%;
    bottom: -100%;
    opacity: 0.7;
}

.slider_shadow:hover .slider_box {
    bottom: 0;
    transition: 0.5s;
}

.slider_btn {
    border-radius: 8px;
    border: 2px solid #FFFFFF;
    padding: 8px 28px;
}

.m_top_80 {
    margin-top: -80px;
}

.line_h_100 {
    line-height: 100px;
}

@media (min-width:1200px) {
    .min_w_785 {
        width: 785px;
    }

    .min_w_659 {
        width: 659px;
    }
}

@media (min-width:1720px) {
    .container_xxl {
        max-width: 1720px !important;
        padding-left: 12px !important;
        padding-right: 12px !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }
}

@media (min-width:992px) {
    .max_width_811_lg {
        width: 811px;
    }

    .max_wdth_340 {
        max-width: 340px;
    }

    .max_width_1284 {
        max-width: 1284px;
    }

    .max_width_700 {
        max-width: 700px;
    }

    .max_width_200 {
        max-width: 200px;
    }
}

@media (max-width:992px) {
    nav ul {
        position: fixed;
        top: 0;
        left: -100%;
        background-color: #161616;
        width: 100%;
        height: 100vh;
        justify-content: center;
        transition: 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        align-items: center;
        flex-direction: column;
        text-align: center;
        line-height: 4;

    }

    .nav_left {
        left: 0;
    }

    .width_80px_lg {
        width: 80px;
    }

}

@media (max-width:576px) {
    .width_50_lg {
        width: 50px;
    }

}